<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\administrator\anaconda3\envs\blog\python.exe|c:\users\administrator\anaconda3\envs\blog\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />

        </handlers>
    </system.webServer>
</configuration>
